* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
}


body {
    font-family: 'Alibaba-PuHuiTi', sans-serif;
    /*font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi, sans-serif;*/
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
    background: #eef1f6;
}

.plugins-tips a {
    color: var(--el-color-primary);
}

.el-button + .el-tooltip {
    margin-left: 10px;
}

.mgb20 {
    margin-bottom: 20px;
}

.mgb10 {
    margin-bottom: 10px;
}

.mr10 {
    margin-right: 10px;
}
.mr6 {
  margin-right: 6px;
}

.mr12 {
  margin-right: 12px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity 0.1s ease;
}

.move-enter-from,
.move-leave-to {
    opacity: 0;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}

[hidden] {
    display: none !important;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --header-bg-color: #ffffff;
    --header-text-color: #333333;
    --active-color: var(--el-color-primary);
    --el-menu-active-color: #ffffff !important;
    --el-menu-bg-color: #1760c2 !important;
}

.el-table__header-wrapper th {
    color: #303133; /* 自定义表头文字颜色 */
    height: 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.el-table__row {
    height: 50px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
}

@font-face {
    font-family: 'Alibaba-PuHuiTi';
    src: url('../font/._Alibaba-PuHuiTi-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Alibaba-PuHuiTi';
    src: url('../font/._Alibaba-PuHuiTi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Alibaba-PuHuiTi';
    src: url('../font/._Alibaba-PuHuiTi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Alibaba-PuHuiTi';
    src: url('../font/._Alibaba-PuHuiTi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Alibaba-PuHuiTi';
    src: url('../font/._Alibaba-PuHuiTi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

